<div class="container">
	<h1>Login</h1>
	<div class="card">
		<form 
		[formGroup]="form"
		(ngSubmit)="login({
			username: form.controls['username'].value, 
			password: form.controls['password'].value
		})">
			<div class="field">
				<label for="username">Email: </label>
				<input 	type="email" 
						placeholder="Email" 
						name="email" 
						class="input-email" 
						[formControl]="form.controls['username']"
						[class.error]="!form.controls['username'].valid && form.controls['username'].touched">
			</div>
			<div class="field">
				<label for="password">Password: </label>
				<input 	type="password" 
						name="password" 
						class="input-password" 
						placeholder="Password"
						[formControl]="form.controls['password']" 
						[class.error]="!form.controls['password'].valid && form.controls['password'].touched">
			</div>
			<div class="field">
				<button class="button" type="submit">Submit</button>
			</div>
		</form>
	</div>
	<p>Not registered? Register <a [routerLink]="['/register']">here.</a></p>
	<message [message]="message" *ngIf="message.active"></message>
</div>
