<div class="container">
  <h1>Todo</h1>
<div class="card">
  <div class="field">
    <div class="task">
      <i class="fa fa-square-o incomplete" aria-hidden="true"></i>
      <input type="text" name="task" class="input-text">
      <!-- <i class="fa fa-times-circle-o" aria-hidden="true"></i> -->
    </div>
  </div>
  <div class="field">
    <div class="task">
      <i class="fa fa-check-square-o complete" aria-hidden="true"></i>
      <input type="text" name="task" class="input-text">
      <i class="fa fa-times-circle-o delete" aria-hidden="true"></i>
    </div>
  </div>
  <div class="field">
    <div class="task">
      <i class="fa fa-square-o incomplete" aria-hidden="true"></i>
      <input type="text" name="task" class="input-text">
      <!-- <i class="fa fa-times-circle-o" aria-hidden="true"></i> -->
    </div>
  </div>
  <div class="field">
    <button class="button">Update</button>
  </div>
  <div class="field">
      <label for="newtask">New Task: </label>      
      <input type="text" name="newtask" class="input-text">
  </div>
  <div class="field">
    <button class="button">Add</button>
  </div>
</div>
<div class="message error">
  <p>Something went wrong!</p>
</div>
</div>
