<div class="container">
	<h1>Todo</h1>
	<div class="card">

		<task [task]="task" *ngFor="let task of tasks" (updateTaskEvent)="updateTask($event)" (deleteTaskEvent)="deleteTask($event)"></task>

		<form 
		[formGroup]="newTaskForm"
		(ngSubmit)="createTask(newTaskForm.controls['newTask'].value)">
			<div class="field">
				<label for="newTask">New Task: </label>      
				<input 
					type="text" 
					name="newTask" 
					class="input-text"
					[formControl]="newTaskForm.controls['newTask']">
			</div>
			<div class="field">
				<button class="button" type="submit">Add</button>
			</div>
		</form>
	</div>
	<message [message]="message" *ngIf="message.active"></message>
</div>